
<div class="card shadow mr-3">
	<h4 class="card-header">
		{{#ifCond authUser.Permission 3}}
		Chức năng

		{{else}}
		Categories

		{{/ifCond}}
	</h4>
	<div class="list-group list-group-flush">
		{{!-- {{#each listfunc}}
		<a class="list-group-item list-group-item-action text-left font-weight-bold" style="color: blue;" href="{{router}}" data-toggle="collapse"
			aria-expanded="false" data-target="#submenu-{{id_func}}" aria-controls="submenu-{{id_func}}">
			{{name_func}}
			<span class="float-right"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
		</a>
		{{#each ../detailfunc}}
		{{#ifCond id_parent ../id_func}}
		<div id="submenu-{{../id_func}}" class="collapse submenu">
			<div class="list-group list-group-flush">
				
				<a  href="{{router}}" class="list-group-item list-group-item-action text-left">
					<i class="fa fa-laptop"	aria-hidden="true"></i> 
					{{name_func}}
				</a>
			</div>

		</div>
		{{/ifCond}}
		{{/each}}
		{{/each}} --}}
		{{#each listfunc}}
		<button class="list-group-item list-group-item-action text-left font-weight-bold" style="color: blue;" 
		onclick="window.location.href='{{router}}'">
			{{name_func}}
		</button>
		{{/each}}
	</div>
</div>