{{!-- <!-- LEFT MENU-->
<div id="leftmenu" class="leftmenu">
	<ul class="navbar-nav flex-column">
		<li class="category">
			<i class="fa fa-list" aria-hidden="true"></i>
			Category
		</li>
		<li class="nav-item ">
			{{#each listfunc}}
			<a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1"
				aria-controls="submenu-1"></i>
				{{name_func}}
			</a>
			{{/each}}
			<div id="submenu-1" class="collapse submenu">
				<ul class="nav flex-column">
					<li class="nav-item">
						<a class="nav-link" href="/admin/categories">&nbsp<i class="fa fa-mobile"
								aria-hidden="true"></i> &nbspĐiện thoại</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=""> <i class="fa fa-laptop" aria-hidden="true"></i> Laptop</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
<!-- /LEFT MENU--> --}}

<div class="card shadow mr-3">
	<h4 class="card-header">
		Chức năng
	</h4>
	<div class="list-group list-group-flush">
		{{#each listfunc}}
		<a class="list-group-item list-group-item-action text-left" href="{{router}}" data-toggle="collapse"
			aria-expanded="false" data-target="#submenu-{{id_func}}" aria-controls="submenu-{{id_func}}">
			{{name_func}} 
			<span class="float-right"><i class="fa fa-angle-down" aria-hidden="true"></i></span>
		</a>
		{{#each ../detailfunc}}
		{{#ifCond id_parent ../id_func}}
		<div id="submenu-{{../id_func}}" class="collapse submenu">

			<div class="list-group list-group-flush">
				<a class="list-group-item list-group-item-action text-left" href="{{route}}"><i class="fa fa-laptop"
						aria-hidden="true"></i> {{name_func}}</a>
			</div>

		</div>
		{{/ifCond}}
		{{/each}}

		{{/each}}

	</div>
</div>