<div class="col-12 card shadow mb-4">
  <h4 class="card-header">
    Products
  </h4>

  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">
      Không có dữ liệu.
    </p>
  </div>
  {{else}}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" class="text-center">#</th>
        <th scope="col">Hình ảnh</th>
        <th scope="col">Tên sản phẩm</th>
        <th scope="col">Giá</th>
        <th scope="col">Số lượng</th>
        <th scope="col">Danh mục</th>
        <th scope="col">Trạng thái</th>
        <th scope="col">Tác vụ</th>
      </tr>
    </thead>
    <tbody>
      {{#each this.products}}
      <tr>
        <th scope="row" class="text-center">{{id}}</th>
        <td ><img src="{{image}}" height="80px" width="80px"></td>
        <td class="text-left">{{name}}</td>
        
        <td >{{unitprice}}</td>
        <td >{{qty}}</td>
        <td >abc</td>
        <td >
          {{#ifCond status 1}}
            <span class="badge badge-pill badge-success">Đang bán</span>
          {{else}}
            <span class="badge badge-pill badge-dark">Ẩn</span>
          {{/ifCond}}
        </td>
        <td class="text-right">
          <a class="btn btn-sm btn-primary" href="/admin/products/view/{{id}}" type="role">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
          
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}

</div>

