  {{#if this.empty}}
  <div class="card-body">
    <p class="card-text">
      Không có dữ liệu.
    </p>
  </div>
  {{else}}
  {{#each this.products}}
  <div class="col-sm-3">
    <div class="card product" style="height: 400px">
      <img class="card-header bg-transparent" src="/images/product/{{id_pro}}_1.jpg"
      onclick="window.location.href = '/product/{{id_pro}}';" style="height: 170px">
      <div class="card-body tdspkhac"
      onclick="window.location.href = '/product/{{id_pro}}';">
      <a href="/product/{{id_pro}}">{{name_pro}}</a>
    </div>
    <div class="card-footer bg-transparent border-0 add-to-cart">
      <h6 class="product-price">{{format current_price}}</h6>
      <form method="POST" action="user/watchlist">
        <input type="hidden" name="id" value="{{authUser.id}}">
        <input type="hidden" name="id_pro" value="{{id_pro}}">
        <button class="watch-list-btn" type="submit">
          Add to watch list
        </button>
      </form>
    </div>
  </div>
</div>

{{/each}}

{{/if}}


