{{#if this.empty}}
<div class="card-body">
    <p class="card-text">
        Không có dữ liệu.
    </p>
</div>
{{else}}
<div class="card-body">
    <div class="row">
        {{#each this.products}}
        <div class="col-sm-3">
            <div class="card product" style="height: 400px">
                <div class="product-img">
                    <img class="card-header bg-transparent" src="/images/product/{{id_pro}}_1.jpg"
                        onclick="window.location.href = '/product/{{id_pro}}';" style="height: 170px">
                    {{#if isnew}}
                    <div class="product-label">
                        <span class="new">NEW</span>
                    </div>
                    {{/if}}
                </div>

                <div class="card-body tdspkhac" onclick="window.location.href = '/product/{{id_pro}}';">
                    <a href="/product/{{id_pro}}">{{name_pro}}</a>
                </div>
                <div class="card-footer bg-transparent border-0 add-to-cart">
                    <h6 class="product-price">{{format current_price}}</h6>
                    {{#if ../isAuthenticated}}
                    {{#if watchlist}}   
                    <form method="POST" action="/user/watchlist" id="frmWatchList_{{id_pro}}">
                        <div class="row">
                            <input type="hidden" name="id" value="{{../authUser.id}}">
                            <input type="hidden" name="id_pro" value="{{id_pro}}">
                        </div>
                    </form>
                    <button class="watch-list-btn btn-block mr-4" type="submit" onclick="javascript: $('#frmWatchList_{{id_pro}}').submit();">
                        Add
                    </button>
                    {{else}}
                    <form method="POST" action="/user/removewatchlist" id="frmWatchList_{{id_pro}}">
                        <div class="row">
                            <input type="hidden" name="id" value="{{../authUser.id}}">
                            <input type="hidden" name="id_pro" value="{{id_pro}}">
                        </div>
                    </form>
                    <button class="watch-list-btn btn-block mr-4"type="submit" onclick="javascript: $('#frmWatchList_{{id_pro}}').submit();">
                        Remove
                    </button>
                    {{/if}}
                    {{else}}
                    <button class="add-to-cart-btn"><i class="fa fa-eye"></i> View more</button>
                    {{/if}}
                </div>
            </div>
        </div>

        {{/each}}
    </div>
    <div class="row">
        <div class="col-sm-12">
            <nav>
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="?page={{prev_value}}">
                            <i class="fa fa-backward" aria-hidden="true"></i>
                        </a>
                    </li>
                    {{#each this.page_numbers}}
                    {{#if isCurrentPage}}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="javascript:;">{{value}} <span class="sr-only">(current)</span></a>
                    </li>
                    {{else}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                    {{/each}}
                    <li class="page-item">
                        <a class="page-link" href="?page={{next_value}}">
                            <i class="fa fa-forward" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{{/if}}