{{#if this.empty}}
<div class="card-body">
    <p class="card-text">
        Không có dữ liệu.
    </p>
</div>
{{else}}
<div class="card-body">
    <h2>Top 5 sản phẩn nhiều lượt ra giá nhất</h2>
    <div class="row">
        {{#each this.top5product}}
        <div class="col-sm-3">
            <div class="card product" style="height: 400px">
                <div class="product-img">
                    <img class="card-header bg-transparent" src="/images/product/{{id_pro}}_1.jpg"
                        onclick="window.location.href = '/product/{{id_pro}}';" style="height: 170px">
                    {{#if isnew}}
                    <div class="product-label">
                        <span class="new">NEW</span>
                    </div>
                    {{/if}}
                </div>

                <div class="card-body tdspkhac" onclick="window.location.href = '/product/{{id_pro}}';">
                    <a href="/product/{{id_pro}}">{{name_pro}}</a>
                </div>

                <div class="card-footer bg-transparent border-0 add-to-cart">
                    <h6 class="product-price">{{format current_price}}</h6>
                    {{#if ../isAuthenticated}}
                    {{#if watchlist}}
                    <form method="POST" action="/user/watchlist" id="frmWatchList_{{id_pro}}">
                        <div class="row">
                            <input type="hidden" name="id" value="{{../authUser.id}}">
                            <input type="hidden" name="id_pro" value="{{id_pro}}">
                        </div>
                    </form>
                    <button class="watch-list-btn btn-block mr-4" type="submit"
                        onclick="javascript: $('#frmWatchList_{{id_pro}}').submit();">
                        Add
                    </button>
                    {{else}}
                    <form method="POST" action="/user/removewatchlist" id="frmWatchList_{{id_pro}}">
                        <div class="row">
                            <input type="hidden" name="id" value="{{../authUser.id}}">
                            <input type="hidden" name="id_pro" value="{{id_pro}}">
                        </div>
                    </form>
                    <button class="watch-list-btn btn-block mr-4" type="submit"
                        onclick="javascript: $('#frmWatchList_{{id_pro}}').submit();">
                        Remove
                    </button>
                    {{/if}}
                    {{else}}
                    <button class="add-to-cart-btn"><i class="fa fa-eye"></i> View more</button>
                    {{/if}}
                </div>
            </div>
            {{!-- <div id="countDown_{{id_pro}}"></div>
            <script type="text/javascript">
                //https://www.w3schools.com/howto/howto_js_countdown.asp
                // Set the date we're counting down to
                var countDownDate = new Date("{{time_end}}").getTime();

                // Update the count down every 1 second
                var x = setInterval(function () {

                    // Get today's date and time
                    var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Output the result in an element with id="demo"
                    document.getElementById("countDown_{{id_pro}}").innerHTML = days + "d " + hours + "h "
                        + minutes + "m " + seconds + "s ";

                    // If the count down is over, write some text 
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("demo").innerHTML = "EXPIRED";
                    }
                }, 1000);
            </script> --}}
        </div>
        {{/each}}
    </div>
</div>
<div class="card-body">
    <h2>Top 5 sản phẩn có giá cao nhất</h2>
    <div class="row">
        {{#each this.top5price}}
        <div class="col-sm-3">
            <div class="card product" style="height: 400px">
                <div class="product-img">
                    <img class="card-header bg-transparent" src="/images/product/{{id_pro}}_1.jpg"
                        onclick="window.location.href = '/product/{{id_pro}}';" style="height: 170px">
                    {{#if isnew}}
                    <div class="product-label">
                        <span class="new">NEW</span>
                    </div>
                    {{/if}}
                </div>

                <div class="card-body tdspkhac" onclick="window.location.href = '/product/{{id_pro}}';">
                    <a href="/product/{{id_pro}}">{{name_pro}}</a>
                </div>
                <div class="card-footer bg-transparent border-0 add-to-cart">
                    <h6 class="product-price">{{format current_price}}</h6>
                    {{#if ../isAuthenticated}}
                    {{#if watchlist}}
                    <form method="POST" action="/user/watchlist" id="frmWatchList_{{id_pro}}">
                        <div class="row">
                            <input type="hidden" name="id" value="{{../authUser.id}}">
                            <input type="hidden" name="id_pro" value="{{id_pro}}">
                        </div>
                    </form>
                    <button class="watch-list-btn btn-block mr-4" type="submit"
                        onclick="javascript: $('#frmWatchList_{{id_pro}}').submit();">
                        Add
                    </button>
                    {{else}}
                    <form method="POST" action="/user/removewatchlist" id="frmWatchList_{{id_pro}}">
                        <div class="row">
                            <input type="hidden" name="id" value="{{../authUser.id}}">
                            <input type="hidden" name="id_pro" value="{{id_pro}}">
                        </div>
                    </form>
                    <button class="watch-list-btn btn-block mr-4" type="submit"
                        onclick="javascript: $('#frmWatchList_{{id_pro}}').submit();">
                        Remove
                    </button>
                    {{/if}}
                    {{else}}
                    <button class="add-to-cart-btn"><i class="fa fa-eye"></i> View more</button>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
<div class="card-body">
    <h2>Top 5 sản phẩn gần kết thúc</h2>
    <div class="row">
        {{#each this.top5date}}
        <div class="col-sm-3">
            <div class="card product" style="height: 400px">
                <div class="product-img">
                    <img class="card-header bg-transparent" src="/images/product/{{id_pro}}_1.jpg"
                        onclick="window.location.href = '/product/{{id_pro}}';" style="height: 170px">
                    {{#if isnew}}
                    <div class="product-label">
                        <span class="new">NEW</span>
                    </div>
                    {{/if}}
                </div>

                <div class="card-body tdspkhac" onclick="window.location.href = '/product/{{id_pro}}';">
                    <a href="/product/{{id_pro}}">{{name_pro}}</a>
                </div>
                <div class="card-footer bg-transparent border-0 add-to-cart">
                    <h6 class="product-price">{{format current_price}}</h6>
                    {{#if ../isAuthenticated}}
                    {{#if watchlist}}
                    <form method="POST" action="/user/watchlist" id="frmWatchList_{{id_pro}}">
                        <div class="row">
                            <input type="hidden" name="id" value="{{../authUser.id}}">
                            <input type="hidden" name="id_pro" value="{{id_pro}}">
                        </div>
                    </form>
                    <button class="watch-list-btn btn-block mr-4" type="submit"
                        onclick="javascript: $('#frmWatchList_{{id_pro}}').submit();">
                        Add
                    </button>
                    {{else}}
                    <form method="POST" action="/user/removewatchlist" id="frmWatchList_{{id_pro}}">
                        <div class="row">
                            <input type="hidden" name="id" value="{{../authUser.id}}">
                            <input type="hidden" name="id_pro" value="{{id_pro}}">
                        </div>
                    </form>
                    <button class="watch-list-btn btn-block mr-4" type="submit"
                        onclick="javascript: $('#frmWatchList_{{id_pro}}').submit();">
                        Remove
                    </button>
                    {{/if}}
                    {{else}}
                    <button class="add-to-cart-btn"><i class="fa fa-eye"></i> View more</button>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/if}}